<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home React</title>
    <script crossorigin src="lib/react.js"></script>
    <script crossorigin src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
  </head>
  <body>
    <div id='root'>Hello React</div>
    <script type="text/babel">
      ReactDOM.render( <h1> Khai </h1> ,document.getElementById('root'))
    </script>
  </body>
</html>
