<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo socket.IO</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>

    <script>

    var socket = io("http://localhost:3000");

    socket.on("Server-send-data",function(data){
        $("#noidung").append(data + ",");
    });

    $(document).ready(function(){
        $("#mrA").click(function(){
            socket.emit("Client-send-data","HELLO");
        });
    });

    </script>
</head>
<body>
    <div id="mrA">Click Send</div>
    <h2 id="noidung"></h2>
</body>
</html>
