<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xổ Số Trực Tiếp</title>
    <link rel="stylesheet" href="layout.css">
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="time.js"></script>
</head>
<body>
    <nav id="submenu" class="fourItem">
        <a href="/trangchu" class="nav">Trực Tiếp</a>
        <a href="/ketquaxoso" class="nav">Kết Quả</a>
        <a href="/thongke" class="nav">Thống Kê</a>
        <a href="/binhchon" class="nav">Bình Chọn</a>
    </nav>

    <div id='clockmn'></div>
    <div id='clockmt'></div>
    <div id='clockmb'></div>
    <div id='clockdt'></div>

    <div id='boxmn'></div>
    <div id='boxmt'></div>
    <div id='boxmb'></div>
    <div id='boxdt'></div>

</body>
</html>