<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="mu.css">
</head>
<body>
    <section>
  <h1 class="h2">Alert Styles</h1>
  
  <!-- Default Styles -->
  <p><strong>Default Styles:</strong></p>
  <p class="alert alert-success">This is a success alert.</p>
  <p class="alert alert-info">This is an info alert.</p>
  <p class="alert alert-warning">This is a warning alert.</p>
  <p class="alert alert-danger">This is a danger alert.</p>
  
  <!-- Extending Defaults -->
  <p><strong>Extending the defaults:</strong></p>
  <p class="alert alert-dark">This is a dark alert.</p>
  <p class="alert alert-info alert-border">This is an alert with a border.</p>
</section>





<section class="section-secondary">
  <h1 class="h2">Card Styles</h1>
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h3 class="card-title">Example Card 1</h3>
        This is an example of a card. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi ipsam sint alias, nemo. Dolore minus aliquid, modi debitis adipisci vel amet, sit officia placeat?
        <ul class="card-actions">
          <li><button class="button-primary">Action 1</button></li>
          <li><button class="button-primary">Action 2</button></li>
        </ul>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h3 class="card-title">Example Card 2</h3>
        This is an example of a card. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi ipsam sint alias, nemo. Dolore minus aliquid, modi debitis adipisci vel amet, sit officia placeat?
        <ul class="card-actions">
          <li><button class="button-primary">Only 1 Action</button></li>
        </ul>
      </div>
    </div>
  </div>
</section>




<footer>
  <div class="container">
    <div class="row">
      <div class="col col-lg-5">
        <div class="footer-text">
          <p class="h3">Footer Example</p>
          <p>This is an example of the footer component.  You don't have to use this layout, but it's a good example of what you can do with what's provided.  If you wanted to included more columns for links and remove this text block, you can.</p>
        </div>
      </div>
      <div class="col col-sm-6 col-lg-3 col-lg-offset-1">
        <h4 class="footer-links-category">Links Category 1</h4>
        <ul class="footer-links">
          <li><a href="#">Link #1</a></li>
          <li><a href="#">Link #2</a></li>
          <li><a href="#">Link #3</a></li>
        </ul>
      </div>

      <div class="col col-sm-6 col-lg-3">
        <h4 class="footer-links-category">Links Category 2</h4>
        <ul class="footer-links">
          <li><a href="#">Link #1</a></li>
          <li><a href="#">Link #2</a></li>
          <li><a href="#">Link #3</a></li>
        </ul>
      </div>
    </div>
  </div>

  <p class="copyright align-center">Made with 🌭 by Kyle Logue. Licensed under the MIT License.</p>

</footer>






<header>
  <h1 class="title">Space for your headline.</h1>
  <h2 class="subtitle">A space for a more descriptive subtitle.</h2>
  <p class="disclaimer">A small space for a disclaimer.</p>
  <button class="get-started button button-primary button-large">Call to Action</button>

  <a class="scroll-down" href="#"></a>
</header>







<ul class="menu">
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
    <li><a href="#">Archive</a></li>
</ul>

<ul class="menu">
    <li><a href="#">Menu Link #1</a></li>
    <li><a href="#">Menu Link #2</a></li>
</ul>










<div class="modal-mask" style="display: none">
    <div class="modal">
        <div class="modal-head">
            <p class="modal-title">Modal Example</p>
        </div>
        <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa expedita totam aperiam, aliquid, consectetur!</p>
        </div>
        <div class="modal-footer">
            <button class="button-primary">Save</button>
        </div>
    </div>
</div>











<nav>
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/">mustard</a>
        </div>
        <ul class="nav-links">
            <li><a class="active" href="/docs/installation">Docs</a></li>
            <li><a href="https://github.com/kylelogue/mustard-ui" target="_blank">GitHub</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
        <a class="mobile-menu-toggle"></a>
        <ul class="mobile-menu menu">
            <li><a href="/docs/installation">Docs</a></li>
            <li><a href="https://github.com/kylelogue/mustard-ui" target="_blank">GitHub</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
    </div>
</nav>







<div class="sidebar sidebar-left">
    <h3 class="sidebar-category">Components</h3>
    <ul class="sidebar-links">
        <li><a href="#">Alerts</a></li>
        <li><a href="#">Breadcrumbs</a></li>
        <li><a class="active" href="#">Cards</a></li>
        <li><a href="#">Footer</a></li>
        <li><a href="#">Header</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Modal</a></li>
        <li><a href="#">Navigation</a></li>
        <li><a href="#">Pagination</a></li>
        <li><a href="#">Panels</a></li>
        <li><a href="#">Progress Bars</a></li>
        <li><a href="#">Sidebar</a></li>
        <li><a href="#">Steppers</a></li>
        <li><a href="#">Tabs</a></li>
        <li><a href="#">Tags</a></li>
        <li><a href="#">Tooltips</a></li>
    </ul>
</div>






<ul class="tabs">
    <li><a class="tab active" href="#">Tab One</a></li>
    <li><a class="tab" href="#">Tab Two</a></li>
    <li><a class="tab" href="#">Tab Three</a></li>
</ul>


<ul class="tags">
    <li class="tag">Tag Default</li>
    <li class="tag tag-rounded">Tag Rounded</li>
    <li class="tag tag-blue">Blue Tag</li>
    <li class="tag tag-red tag-rounded">Red Tag</li>
    <li class="tag tag-green tag-rounded">Green Tag</li>
    <li class="tag tag-orange">Orange Tag</li>
</ul>





<span class="tooltip">Hover for more info<span class="tooltip-text">Tooltips are awesome!</span></span>





<pre class="language-html">
    <code class="language-html">
        <!-- Enter your code here -->
    </code>
</pre>


<section>
  <h1 class="h2">Flat Button Styles</h1>
  
  <!-- Style Variations -->
  <p>Style variations:</p>
  <p>
    <button class="button-primary">Default</button>
    <button class="button-primary button-round">Default Round </button>
    <button class="button-primary-outlined">Outlined</button>
    <button class="button-primary-outlined button-round">Outlined Round</button>
    <button class="button-primary-text">Text</button>
  </p>
  
  <!-- Size Variations -->
  <p>Size variations:</p>
  <p>
    <button class="button-primary button-large">Large</button>
    <button class="button-primary">Standard</button>
    <button class="button-primary button-small">Small</button>
  </p>
  <p>
    <button class="button-primary button-large button-round">Large</button>
    <button class="button-primary button-round">Standard</button>
    <button class="button-primary button-small button-round">Small</button>
  </p>
  
  <!-- Color Variations -->
  <p>Color variations:</p>
  <p>
    <button class="button-success">Success</button>
    <button class="button-info">Info</button>
    <button class="button-warning">Warning</button>
    <button class="button-danger">Danger</button>
  </p>
  
  <!-- Extending the default classes -->
  <p>Extending the Default Classes:</p>
  <p>
    <button class="button-primary button-purple">Create a New Color</button>
  </p>
  <p>
    <button class="button-primary button-round button-shadow">Add a Shadow</button>
  </p>
</section>

  


<blockquote>
    <p><em>Blockquotes create emphasis on a topic or idea.</em></p>
</blockquote> 






<!-- Normal Field -->
<div class="form-control">
    <label>Normal Field</label>
    <input type="text" placeholder="Enter some info">
</div>

<!-- Invalid Field -->
<div class="form-control">
    <label>Invalid Field</label>
    <input class="invalid" type="text" placeholder="Enter valid info">
    <p class="validation-error">Please enter a valid value.</p>
</div>

<!-- Field Grouping -->
<div class="form-control-group">
    <div class="form-control">
        <label>Grouped Field 1</label>
        <input type="text" placeholder="Enter valid value 1">
    </div>

    <div class="form-control grow-2x">
        <label>Grouped Field 2</label>
        <input type="text" placeholder="Enter valid value 2">
    </div>
</div>







<a href="#">A simple link</a>






<section>
  <h1 class="h2">Shopping Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Product Details</th>
        <th>Quantity</th>
        <th class="align-right">Cost</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><strong>Product #1</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur necessitatibus facilis facere eaque. Molestias, quaerat. Tempore accusantium esse, cum sunt totam quibusdam mollitia vel aliquid.</p>
          <p><a href="#">view details</a> | <a href="#">add to wishlist</a></p>
        </td>
        <td>
          <p class="align-center">1</p>
        </td>
        <td>
          <p class="align-right"><strong>$10.00</strong></p>
        </td>
        <td class="align-right">
          <button class="button-primary-outlined">Remove</button>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Product #2</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur necessitatibus facilis facere eaque. Molestias, quaerat. Tempore accusantium esse, cum sunt totam quibusdam mollitia vel aliquid.</p>
          <p><a href="#">view details</a> | <a href="#">add to wishlist</a></p>
        </td>
        <td>
          <p class="align-center">2</p>
        </td>
        <td>
          <p class="align-right"><strong>$24.00</strong></p>
        </td>
        <td class="align-right">
          <button class="button-primary-outlined">Remove</button>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Product #3</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur necessitatibus facilis facere eaque. Molestias, quaerat. Tempore accusantium esse, cum sunt totam quibusdam mollitia vel aliquid.</p>
          <p><a href="#">view details</a> | <a href="#">add to wishlist</a></p>
        </td>
        <td>
          <p class="align-center">1</p>
        </td>
        <td>
          <p class="align-right"><strong>$18.00</strong></p>
        </td>
        <td class="align-right">
          <button class="button-primary-outlined">Remove</button>
        </td>
      </tr>
      <tr>
        <td>
          <p class="h6"><strong>Grand Total</strong></p>
        </td>
        <td>
          <p class="align-center">4</p>
        </td>
        <td>
          <p class="align-right"><strong>$76.00</strong></p>
        </td>
        <td class="align-right">
          <button class="button-primary">Checkout</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="align-right">

  </div>
</section>







<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 6</h5>
<h6>Heading 6</h6>
<p>Paragraph Text with <strong>strong</strong> and <em>em styling</em></p>
<p class="magnify">You can even use the magnify class to provide a better reading experience.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero deleniti dignissimos debitis laudantium earum assumenda odit rem ratione error quisquam, sit esse corporis deserunt aliquid?</p>






</body>
<script>
    
</script>
</html>