<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xổ Số</title>
    <script src='/script.js'></script>
    <link rel="stylesheet" href="/mustard-ui.css">

</head>
<body>
    
    <% include header %>

    <div id="box" class="modal-mask">
      <div class="modal">
          <div class="modal-head">
              <p class="modal-title" style="margin-bottom: 0px;">VÉ CƯỢC</p>
              <p style="color: #84b653;"><%= ba%> VND</p>
          </div>
          <div class="modal-body">
              <p>Lorem ipsum doloi hic mollitia culpa dignissimos ducimus molestias quidem adipisci doloribus officiis! Dolorem, quis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa expedita totam aperiam, aliquid, consectetur!</p>
          </div>
          <div class="modal-footer">
              <button class="button-primary" onclick="closebox()">OK</button>
          </div>
      </div>
    </div>

<div class="tab">
    <h5 class="tablinks"  onclick="openMien('mn')">Miền Nam</h5>
    <h5 class="tablinks" onclick="openMien('mt')">Miền Trung</h5>
    <h5 class="tablinks" onclick="openMien('mb')">Miền Bắc</h5>
  </div>
  
  <!-- Tab content -->
  <div id="mn" class="tabcontent" >
    <div>
      <div><span>lô</span><button class="chon" onclick="openbox()">8.7</button><button class="chon" onclick="showinfo('a')"><p>V</p></button></div>
      <p class="a display-none">aghdskjfh ksa hdskjfa</p>
    </div> 
    
  </div>
  
  <div id="mt" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda debitis quos temporibus dignissimos tempora est odit, at, a omnis ipsum fugiat. Architecto maiores temporibus incidunt obcaecati soluta fugiat sed alias, modi rem tempora asperiores molestiae, quia sint eum ullam distinctio inventore aspernatur. Ex animi exercitationem quis, unde sed suscipit omnis in facere laudantium iusto quo ratione molestiae iste sint voluptatibus illum commodi sunt corporis aliquid officia. Nesciunt incidunt, ex nostrum eum, corporis repudiandae rem dolorem quos sed mollitia iure minima dicta, aperiam atque voluptates quisquam at odio animi molestias nihil accusamus. Laboriosam alias molestias illum blanditiis voluptatibus a, eius tempore eligendi, vitae harum ipsam sunt accusamus magnam, voluptatem suscipit distinctio dolorum nostrum. Quos perferendis tempore sit molestias fuga excepturi qui nemo eaque alias fugit dolorem, perspiciatis vel eum ipsa unde dolor dignissimos. Repellat nemo reprehenderit quaerat rerum laudantium consequuntur quibusdam saepe delectus, molestiae provident unde minus vel velit nobis impedit! Vitae autem sint deserunt suscipit laborum corrupti quasi ratione, quas facilis doloremque animi cupiditate accusamus ducimus nesciunt dicta quae numquam voluptatem minima, dolorem ex veniam quam earum? Omnis, voluptatum. Earum tempora iure amet vitae modi ipsam omnis minima repellat consequuntur expedita sunt a, repellendus nulla numquam eaque ea pariatur voluptas facilis vel possimus soluta ab dicta nobis. Impedit in exercitationem corrupti laudantium quod quisquam harum beatae hic delectus! Exercitationem, corporis. Quisquam rerum, autem libero quasi blanditiis hic possimus cupiditate ullam assumenda deleniti, mollitia harum tempora reiciendis molestiae dolorem quaerat porro rem voluptatibus amet sit est? Ab officia laborum quae consequatur nulla iure laboriosam ea harum modi aspernatur dicta nisi molestias non numquam assumenda debitis, odio asperiores, at pariatur. Dolore non placeat possimus et quas ullam cupiditate eum repellat corrupti vero optio eveniet nisi quaerat quam quisquam ad deserunt laudantium, suscipit, cum culpa! Vitae nihil, ad eius inventore animi incidunt beatae recusandae. Expedita alias repudiandae rem molestias doloribus, quasi labore cumque fugiat, voluptatem aspernatur numquam, doloremque quidem iure? Perferendis delectus alias a voluptate neque tempore esse, itaque dignissimos deleniti ex blanditiis, sint saepe adipisci ut incidunt et quam cum facilis molestiae enim ipsa hic quibusdam quidem eum! Dolorum alias dicta sequi harum est natus molestias similique repellat, ab aliquid ipsum nisi atque pariatur ad minus consequatur distinctio quis beatae. Impedit ullam veritatis, recusandae enim soluta earum molestias ad voluptatem, tempora expedita, suscipit dignissimos praesentium. Natus suscipit deserunt provident! Dolor vitae ex quidem modi facilis temporibus ad officia possimus, non veniam asperiores aut recusandae? Officiis, est voluptates! Harum consequuntur quia sed totam magnam facilis ipsa, necessitatibus laboriosam magni, minima fuga molestiae omnis veniam numquam non enim? Eius ut, itaque possimus impedit a mollitia nostrum quo facere, ea ex, porro aliquid perspiciatis odio temporibus? Accusamus reiciendis vero molestiae modi in voluptate exercitationem voluptatibus, sit quia dicta architecto nulla qui! Tempore similique assumenda corrupti nesciunt, modi dolorum rem. Possimus iusto molestiae natus aperiam commodi temporibus reiciendis similique porro tempora nemo aut doloremque hic nisi perferendis velit quia cumque rem dolorem iste, perspiciatis minus ab inventore illo omnis. In veniam exercitationem mollitia accusantium nisi saepe, veritatis cupiditate nesciunt natus tempora. Et, sequi ab necessitatibus dolore praesentium dolor dicta. Blanditiis dicta repudiandae nihil ullam facere itaque reiciendis consectetur corporis at? Quae, molestiae recusandae consectetur esse sunt, deleniti aut repudiandae enim natus architecto eum. Saepe corporis cumque consequuntur magni autem sequi hic officiis sit quis magnam repellat iste similique esse dolorem ducimus tenetur neque quasi, odit quas quod? Earum, at cupiditate! Officiis facilis iste minima quasi itaque blanditiis ullam similique totam, voluptate saepe eos laboriosam voluptates repellendus beatae rerum velit labore possimus magni fuga perferendis distinctio? Nemo et officia animi facilis voluptatibus corrupti numquam asperiores voluptates nesciunt? Maiores quos aut aliquid. Ipsum ipsam reiciendis veniam aliquam impedit iusto vero dolor consequuntur, velit magni iure ducimus excepturi, doloribus nam, error repellat cupiditate eaque. Suscipit natus repellat magni perspiciatis doloremque molestias, eligendi consequuntur? Nihil nulla tenetur dolore corrupti ex nesciunt, molestiae odit sint exercitationem, omnis iste eaque velit deserunt esse expedita dicta fugit perspiciatis pariatur consectetur error nisi possimus explicabo. Non ab minima libero porro tempore alias, unde nobis ipsa officia reiciendis earum rem! Ipsa magnam rem nulla asperiores voluptas praesentium atque, minus, similique repudiandae velit error perferendis! Aliquam culpa qui deleniti nostrum in dicta quasi placeat labore, cum enim mollitia modi officia esse excepturi sed quo totam architecto, animi soluta fugiat voluptates unde amet odio aspernatur. Quos suscipit quod iure sequi inventore consectetur temporibus unde nulla. Deleniti, nihil voluptas alias officia aliquid quam dignissimos consectetur laudantium minus ipsum unde? At harum, qui, enim dicta molestias doloribus dolores quas maiores cumque assumenda sit quos expedita praesentium officia quaerat corporis, atque necessitatibus fugit ullam. Possimus ipsam facere modi ex placeat alias eos, doloribus maiores quisquam pariatur esse obcaecati dignissimos excepturi voluptatem ipsa! Quisquam quibusdam tempore quod laudantium dicta, atque voluptates. At voluptatibus ipsa nam! Saepe quas, quod, neque autem magnam perspiciatis, nesciunt dolor odio quibusdam iure adipisci possimus qui praesentium recusandae porro. Modi possimus maiores nostrum, quo iste ea officia aut provident repellendus, eveniet rem, pariatur ipsam? Ipsam totam illum fugiat modi vel recusandae quasi dolore alias minima magnam. Porro assumenda, alias distinctio aperiam a nesciunt, consequatur dolorem animi labore natus quia laudantium quasi temporibus autem, reprehenderit minima est qui voluptatem eius unde hic eligendi consequuntur ipsum. Aliquam eligendi debitis vel a quam exercitationem itaque iusto repellendus quis quidem quibusdam, incidunt laudantium animi cupiditate officia dolore ratione autem. Non, inventore ipsa, totam voluptates delectus numquam doloribus vitae nisi alias rerum dolorum obcaecati maxime dolorem odit illo adipisci nobis? Totam, nisi? Similique, ad qui incidunt cupiditate ipsum dignissimos quos est sed laboriosam ipsam quas provident voluptatum doloremque eaque, molestias error. Voluptate ratione quas veniam animi nihil sapiente sit est minima id maiores cumque error dolore earum doloribus neque, ipsum reiciendis iure ullam numquam delectus architecto blanditiis? Voluptatem ipsum, praesentium ducimus reprehenderit deserunt delectus nam consequatur aliquid a quam sapiente iure provident error libero! Debitis libero minus, distinctio asperiores soluta repudiandae aliquam beatae hic perferendis officiis quidem molestiae. Voluptate sint aut, incidunt expedita nisi doloremque fugit repudiandae natus deleniti asperiores, alias voluptatem.</p>
  </div>
  
  <div id="mb" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>

  <% include footer %>
</body>

<script>
function openMien(a){
  // Declare all variables
  var i, tabcontent, tablinks;
  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(a).style.display = "block";
  switch(a){
    case 'mn':tablinks[0].className += ' active';break;
    case 'mt':tablinks[1].className += ' active';break;
    case 'mb':tablinks[2].className += ' active';break;
  }
} 
openMien('mn')

function openbox(){
  document.getElementById('box').style.display = "block";
}
function closebox(){
  document.getElementById('box').style.display = "none";
}


</script>

</html>
