<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeSaiGon | Web ghi lô đề lớn nhất Việt Nam</title>
    <link rel="stylesheet" href="ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <% include header %>
    
    <nav>
    <div class="nav-container">
        <div class="scrollmenu">
            <a href="/">Trang Chủ</a>
            <a href="/ghiso">Lô Đề</a>
            <a href="/keno">Keno</a>
            <a href="/khuyenmai">Khuyến Mãi</a>
        </div>
    </div>
    </nav>

    <% include footer %>
    
</body>
</html>